<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>236074949305-ei1b2ftskph70rjp6v5h7ss2d36u6ud7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236074949305-ei1b2ftskph70rjp6v5h7ss2d36u6ud7</string>
	<key>API_KEY</key>
	<string>AIzaSyDOo-tZlw_EoVt_XVAAIClmPVm9QCi5Cwg</string>
	<key>GCM_SENDER_ID</key>
	<string>236074949305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>none.borala</string>
	<key>PROJECT_ID</key>
	<string>appborala-42131</string>
	<key>STORAGE_BUCKET</key>
	<string>appborala-42131.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236074949305:ios:27aaa8f82bbdd06f381968</string>
</dict>
</plist>