<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleURLTypes</key>
    <array>
        <dict> I
            <key>CFBundleURLSchemes</key>
            <array>
                <string>fb1341594086458687</string>
                
                <string>com.googleusercontent.apps.236074949305-ei1b2ftskph70rjp6v5h7ss2d36u6ud7</string>
            </array>
        </dict>
    </array>
    <key>FacebookAppID</key>
    <string>1341594086458687</string>
    <key>FacebookClientToken</key>
    <string>83017107f1c6099c499da41e188fbc5a</string>
    <key>FacebookDisplayName</key>
    <string>Borala</string>
    <key>UIApplicationSceneManifest</key>
    <dict>
        <key>UIApplicationSupportsMultipleScenes</key>
        <false/>
        <key>UISceneConfigurations</key>
        <dict>
            <key>UIWindowSceneSessionRoleApplication</key>
            <array>
                <dict>
                    <key>UISceneConfigurationName</key>
                    <string>Default Configuration</string>
                    <key>UISceneDelegateClassName</key>
                    <string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
                    <key>UISceneStoryboardFile</key>
                    <string>Main</string>
                </dict>
            </array>
        </dict>
    </dict>
</dict>
</plist>



